@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter/inter-v2-latin-regular.eot");
  src: local(""), url("../fonts/Inter/inter-v2-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/inter-v2-latin-regular.woff2") format("woff2"), url("../fonts/Inter/inter-v2-latin-regular.woff") format("woff"), url("../fonts/Inter/inter-v2-latin-regular.ttf") format("truetype"), url("../fonts/Inter/inter-v2-latin-regular.svg#Inter") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter/inter-v2-latin-500.eot");
  src: local(""), url("../fonts/Inter/inter-v2-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/inter-v2-latin-500.woff2") format("woff2"), url("../fonts/Inter/inter-v2-latin-500.woff") format("woff"), url("../fonts/Inter/inter-v2-latin-500.ttf") format("truetype"), url("../fonts/Inter/inter-v2-latin-500.svg#Inter") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Inter/inter-v2-latin-600.eot");
  src: local(""), url("../fonts/Inter/inter-v2-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/inter-v2-latin-600.woff2") format("woff2"), url("../fonts/Inter/inter-v2-latin-600.woff") format("woff"), url("../fonts/Inter/inter-v2-latin-600.ttf") format("truetype"), url("../fonts/Inter/inter-v2-latin-600.svg#Inter") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter/inter-v2-latin-700.eot");
  src: local(""), url("../fonts/Inter/inter-v2-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/inter-v2-latin-700.woff2") format("woff2"), url("../fonts/Inter/inter-v2-latin-700.woff") format("woff"), url("../fonts/Inter/inter-v2-latin-700.ttf") format("truetype"), url("../fonts/Inter/inter-v2-latin-700.svg#Inter") format("svg");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Playfair/playfair-display-v21-latin-700.eot");
  src: local(""), url("../fonts/Playfair/playfair-display-v21-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Playfair/playfair-display-v21-latin-700.woff2") format("woff2"), url("../fonts/Playfair/playfair-display-v21-latin-700.woff") format("woff"), url("../fonts/Playfair/playfair-display-v21-latin-700.ttf") format("truetype"), url("../fonts/Playfair/playfair-display-v21-latin-700.svg#PlayfairDisplay") format("svg");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Mulish/mulish-v1-latin-300.eot");
  src: local(""), url("../fonts/Mulish/mulish-v1-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish/mulish-v1-latin-300.woff2") format("woff2"), url("../fonts/Mulish/mulish-v1-latin-300.woff") format("woff"), url("../fonts/Mulish/mulish-v1-latin-300.ttf") format("truetype"), url("../fonts/Mulish/mulish-v1-latin-300.svg#Mulish") format("svg");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Mulish/mulish-v1-latin-regular.eot");
  src: local(""), url("../fonts/Mulish/mulish-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish/mulish-v1-latin-regular.woff2") format("woff2"), url("../fonts/Mulish/mulish-v1-latin-regular.woff") format("woff"), url("../fonts/Mulish/mulish-v1-latin-regular.ttf") format("truetype"), url("../fonts/Mulish/mulish-v1-latin-regular.svg#Mulish") format("svg");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Mulish/mulish-v1-latin-700.eot");
  src: local(""), url("../fonts/Mulish/mulish-v1-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish/mulish-v1-latin-700.woff2") format("woff2"), url("../fonts/Mulish/mulish-v1-latin-700.woff") format("woff"), url("../fonts/Mulish/mulish-v1-latin-700.ttf") format("truetype"), url("../fonts/Mulish/mulish-v1-latin-700.svg#Mulish") format("svg");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cecece;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 27rem;
}

@media (max-width: 1267px) {
  .header {
    margin-bottom: 20rem;
  }
}

.header__menu {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  margin-bottom: 7rem;
}

@media (max-width: 360px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__menu-logo {
  width: auto;
  height: auto;
}

@media (max-width: 360px) {
  .header__menu-logo {
    margin-bottom: 2rem;
  }
}

.header__menu-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .header__menu-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__menu-wraper-nav a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  margin-right: 3.5rem;
  font-size: 1.6rem;
  color: #848484;
}

.header__menu-wraper-nav a:focus {
  color: black;
}

@media (max-width: 930px) {
  .header__menu-wraper-nav a {
    margin-right: 2.5rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  .header__menu-wraper-nav a {
    margin-right: 1.5rem;
  }
}

@media (max-width: 700px) {
  .header__menu-wraper-nav {
    margin-bottom: 2rem;
  }
}

.header__menu-wraper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-wraper-buttons .left-button {
  margin-right: 1.8rem;
}

.header__menu-wraper-buttons .left-button,
.header__menu-wraper-buttons .right-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  border-radius: 1rem;
  background-color: #fff;
  outline: none;
  color: #fb8f1d;
  width: 13rem;
  height: 4rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0.2rem solid #fb8f1d;
}

.header__menu-wraper-buttons .left-button:hover,
.header__menu-wraper-buttons .right-button:hover {
  background-color: #fb8f1d;
  color: #fff;
}

.header__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 14rem;
  position: relative;
}

@media (max-width: 1267px) {
  .header__container-left {
    margin-right: 10rem;
  }
}

@media (max-width: 700px) {
  .header__container-left {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.header__container-left-cross {
  position: absolute;
  right: 0;
  top: 10%;
}

.header__container-left-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  margin-bottom: 7.5rem;
  text-align: center;
}

@media (max-width: 1267px) {
  .header__container-left-title {
    font-size: 5.4rem;
    margin-bottom: 5.5rem;
  }
}

@media (max-width: 930px) {
  .header__container-left-title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}

.header__container-left-subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 1267px) {
  .header__container-left-subtitle {
    font-size: 2.2rem;
  }
}

@media (max-width: 930px) {
  .header__container-left-subtitle {
    font-size: 2rem;
  }
}

.header__container-left-line {
  width: 10%;
  border-bottom: 3px solid #000;
  margin-bottom: 5rem;
}

.header__container-left-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4.7rem;
}

@media (max-width: 1180px) {
  .header__container-left-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 700px) {
  .header__container-left-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__container-left-options .options-location,
.header__container-left-options .options-activity,
.header__container-left-options .options-grade,
.header__container-left-options .options-date {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 20rem;
  font-size: 1.5rem;
  padding: 1.5rem 7rem 1.5rem 2rem;
  border-radius: 1rem;
  outline: none;
}

@media (max-width: 1267px) {
  .header__container-left-options .options-location,
  .header__container-left-options .options-activity,
  .header__container-left-options .options-grade,
  .header__container-left-options .options-date {
    padding: 1rem 5rem 1rem 1.5rem;
  }
}

@media (max-width: 930px) {
  .header__container-left-options .options-location,
  .header__container-left-options .options-activity,
  .header__container-left-options .options-grade,
  .header__container-left-options .options-date {
    padding: 1rem 3rem 1rem 1rem;
  }
}

@media (max-width: 1180px) {
  .header__container-left-options .options-location,
  .header__container-left-options .options-activity,
  .header__container-left-options .options-grade,
  .header__container-left-options .options-date {
    margin-bottom: 3rem;
  }
}

.header__container-left-options .options-location {
  margin-bottom: 3.5rem;
  margin-right: 3rem;
}

@media (max-width: 477px) {
  .header__container-left-options .options-location {
    margin-right: 1rem;
  }
}

@media (max-width: 456px) {
  .header__container-left-options .options-location {
    margin-right: 0;
  }
}

.header__container-left-options .options-grade {
  margin-right: 3rem;
}

@media (max-width: 477px) {
  .header__container-left-options .options-grade {
    margin-right: 1rem;
  }
}

@media (max-width: 456px) {
  .header__container-left-options .options-grade {
    margin-right: 0;
  }
}

.header__container-left-button {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 18rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: #fb8f1d;
  color: #fff;
  font-size: 1.7rem;
  outline: none;
  border: 2px solid #fb8f1d;
}

.header__container-left-button:active {
  background-color: #bb6100;
}

.header__container-right {
  max-width: 68.7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1400px) {
  .header__container-right img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 700px) {
  .header__container-right img {
    width: 80%;
    height: auto;
  }
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__container-1 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26rem;
}

@media (max-width: 700px) {
  .section__container-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20rem;
  }
}

.section__container-1-img {
  margin-right: 10rem;
  position: relative;
  max-width: 68.7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .section__container-1-img {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1400px) {
  .section__container-1-img .large-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 700px) {
  .section__container-1-img .large-img {
    width: 80%;
    height: auto;
  }
}

.section__container-1-img-cross {
  position: absolute;
  right: 0;
  top: 0;
}

.section__container-1-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .section__container-1-wraper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section__container-1-wraper-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 2rem;
  text-align: left;
}

@media (max-width: 1267px) {
  .section__container-1-wraper-title {
    font-size: 2.8rem;
  }
}

@media (max-width: 930px) {
  .section__container-1-wraper-title {
    font-size: 2rem;
  }
}

.section__container-1-wraper-desc {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.7rem;
  margin-bottom: 3.3rem;
  text-align: left;
}

@media (max-width: 1267px) {
  .section__container-1-wraper-desc {
    font-size: 1.5rem;
  }
}

@media (max-width: 930px) {
  .section__container-1-wraper-desc {
    font-size: 1.3rem;
  }
}

.section__container-1-wraper-btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  border-radius: 1rem;
  background-color: #fb8f1d;
  outline: none;
  color: #fff;
  width: 16rem;
  height: 6rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0.2rem solid #fb8f1d;
  font-size: 1.6rem;
}

@media (max-width: 930px) {
  .section__container-1-wraper-btn {
    width: 13rem;
    height: 4rem;
  }
}

.section__container-1-wraper-btn:active {
  background-color: #bb6100;
}

.section__container-2 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23.7rem;
  position: relative;
}

.section__container-2-circlebefore {
  position: absolute;
  top: -8%;
  right: 30%;
}

.section__container-2-circleafter {
  position: absolute;
  bottom: -20%;
  right: 50%;
}

.section__container-2-cross {
  position: absolute;
  left: -5%;
}

.section__container-2-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5.6rem;
}

.section__container-2-box-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
}

@media (max-width: 900px) {
  .section__container-2-box-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .section__container-2-box-title {
    font-size: 2rem;
  }
}

.section__container-2-box-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: #fb8f1d;
  font-size: 1.7rem;
}

.section__container-2-wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1156px) {
  .section__container-2-wraper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section__container-2-wraper-block1 {
  background: url(../../img/img4.png);
  width: 26rem;
  height: 33rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section__container-2-wraper-block1 .block1-inner {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
}

.section__container-2-wraper-block1 .block1-inner span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  color: #000;
}

.section__container-2-wraper-block2 {
  background: url(../../img/img5.png);
  width: 26rem;
  height: 33rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section__container-2-wraper-block2 .block2-inner {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
}

.section__container-2-wraper-block2 .block2-inner span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  color: #000;
}

.section__container-2-wraper-block3 {
  background: url(../../img/img6.png);
  width: 26rem;
  height: 33rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section__container-2-wraper-block3 .block3-inner {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
}

.section__container-2-wraper-block3 .block3-inner span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  color: #000;
}

.section__container-2-wraper-block4 {
  background: url(../../img/img7.png);
  width: 26rem;
  height: 33rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section__container-2-wraper-block4 .block4-inner {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
}

.section__container-2-wraper-block4 .block4-inner span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  color: #000;
}

.section__container-3 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23.7rem;
  position: relative;
}

@media (max-width: 700px) {
  .section__container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20rem;
  }
}

.section__container-3-img {
  margin-left: 10rem;
  position: relative;
  max-width: 68.7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .section__container-3-img {
    margin-right: 0;
    margin-bottom: 2rem;
    margin-left: 0;
  }
}

@media (max-width: 1400px) {
  .section__container-3-img .large-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 700px) {
  .section__container-3-img .large-img {
    width: 80%;
    height: auto;
  }
}

.section__container-3-img-cross {
  position: absolute;
  right: 10%;
  top: 10%;
}

.section__container-3-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 700px) {
  .section__container-3-wraper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section__container-3-wraper-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 2rem;
  text-align: left;
}

@media (max-width: 1267px) {
  .section__container-3-wraper-title {
    font-size: 2.8rem;
  }
}

@media (max-width: 930px) {
  .section__container-3-wraper-title {
    font-size: 2rem;
  }
}

.section__container-3-wraper-desc {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.7rem;
  margin-bottom: 3.3rem;
  text-align: left;
}

@media (max-width: 1267px) {
  .section__container-3-wraper-desc {
    font-size: 1.5rem;
  }
}

@media (max-width: 930px) {
  .section__container-3-wraper-desc {
    font-size: 1.3rem;
  }
}

.section__container-3-wraper-btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  border-radius: 1rem;
  background-color: #fb8f1d;
  outline: none;
  color: #fff;
  width: 16rem;
  height: 6rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0.2rem solid #fb8f1d;
  font-size: 1.6rem;
}

@media (max-width: 930px) {
  .section__container-3-wraper-btn {
    width: 13rem;
    height: 4rem;
  }
}

.section__container-3-wraper-btn:active {
  background-color: #bb6100;
}

.section__container-3-wraper-cross {
  position: absolute;
  right: 0;
  bottom: 0;
}

.section__container-3-wraper-circlebefore {
  position: absolute;
  left: 15%;
  top: -30%;
}

.section__container-4 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 23.7rem;
  position: relative;
}

@media (max-width: 700px) {
  .section__container-4 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section__container-4-header {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 4rem;
}

@media (max-width: 1267px) {
  .section__container-4-header {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 930px) {
  .section__container-4-header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.section__container-4-wraper {
  width: 100%;
  height: 49rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .section__container-4-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section__container-4-wraper-inner {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 17rem;
}

@media (max-width: 1267px) {
  .section__container-4-wraper-inner {
    margin-right: 13rem;
  }
}

@media (max-width: 930px) {
  .section__container-4-wraper-inner {
    margin-right: 9rem;
  }
}

@media (max-width: 700px) {
  .section__container-4-wraper-inner {
    margin-right: 0;
  }
}

.section__container-4-wraper-inner-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.section__container-4-wraper-inner-desc {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

@media (max-width: 1267px) {
  .section__container-4-wraper-inner-desc {
    font-size: 2rem;
  }
}

@media (max-width: 930px) {
  .section__container-4-wraper-inner-desc {
    font-size: 1.5rem;
  }
}

.section__container-4-wraper-inner-author {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.section__container-4-wraper-inner-work {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
}

.section__container-4-wraper-photo {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__container-4-wraper-photo .author-photo {
  max-width: 38rem;
  width: 100%;
  border-radius: 2rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1400px) {
  .section__container-4-wraper-photo .author-photo {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 700px) {
  .section__container-4-wraper-photo .author-photo {
    width: 90%;
    height: auto;
  }
}

.section__container-4-wraper-photo-circlebefore {
  position: absolute;
  top: -3%;
  right: -3%;
}

.section__container-4-wraper-photo-cross {
  position: absolute;
  bottom: -4%;
  left: -4%;
}

.section__container-5 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23.7rem;
}

.section__container-5-headlines {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.6rem;
}

.section__container-5-headlines-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
}

@media (max-width: 900px) {
  .section__container-5-headlines-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .section__container-5-headlines-title {
    font-size: 2rem;
  }
}

.section__container-5-headlines-others {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7rem;
  color: #fb8f1d;
  text-decoration: none;
}

.section__container-5-wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1156px) {
  .section__container-5-wraper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section__container-5-wraper-about1, .section__container-5-wraper-about2, .section__container-5-wraper-about3, .section__container-5-wraper-about4 {
  max-width: 26rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__container-5-wraper-about1-photo, .section__container-5-wraper-about2-photo, .section__container-5-wraper-about3-photo, .section__container-5-wraper-about4-photo {
  border-radius: 1rem;
  margin-bottom: 2rem;
  max-height: 23rem;
  height: 100%;
}

.section__container-5-wraper-about1-title, .section__container-5-wraper-about2-title, .section__container-5-wraper-about3-title, .section__container-5-wraper-about4-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.9rem;
  margin-bottom: 2rem;
}

.section__container-5-wraper-about1-desc, .section__container-5-wraper-about2-desc, .section__container-5-wraper-about3-desc, .section__container-5-wraper-about4-desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.section__container-5-wraper-about1-other, .section__container-5-wraper-about2-other, .section__container-5-wraper-about3-other, .section__container-5-wraper-about4-other {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: #fb8f1d;
  text-decoration: none;
}

.footer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  padding: 6rem 8rem 0 8rem;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .footer {
    padding: 3rem 4rem 0 4rem;
  }
}

.footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5rem;
  border-bottom: 2px solid #848484;
}

@media (max-width: 700px) {
  .footer-container-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-container-menu-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 13rem;
}

@media (max-width: 1193px) {
  .footer-container-menu-about {
    margin-right: 10rem;
  }
}

@media (max-width: 700px) {
  .footer-container-menu-about {
    margin-right: 3rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 400px) {
  .footer-container-menu-about {
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
}

.footer-container-menu-about img {
  margin-bottom: 3rem;
}

.footer-container-menu-about-title {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 5.5rem;
  color: #848484;
}

@media (max-width: 1193px) {
  .footer-container-menu-about-title {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 400px) {
  .footer-container-menu-about-title {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}

.footer-container-menu-about-info {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.7rem;
  color: #848484;
}

@media (max-width: 1193px) {
  .footer-container-menu-about-info {
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  .footer-container-menu-about-info {
    font-size: 1rem;
  }
}

.footer-container-menu-search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container-menu-search-block1, .footer-container-menu-search-block2, .footer-container-menu-search-block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container-menu-search-block1 .block1-title,
.footer-container-menu-search-block1 .block2-title,
.footer-container-menu-search-block1 .block3-title, .footer-container-menu-search-block2 .block1-title,
.footer-container-menu-search-block2 .block2-title,
.footer-container-menu-search-block2 .block3-title, .footer-container-menu-search-block3 .block1-title,
.footer-container-menu-search-block3 .block2-title,
.footer-container-menu-search-block3 .block3-title {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

@media (max-width: 1193px) {
  .footer-container-menu-search-block1 .block1-title,
  .footer-container-menu-search-block1 .block2-title,
  .footer-container-menu-search-block1 .block3-title, .footer-container-menu-search-block2 .block1-title,
  .footer-container-menu-search-block2 .block2-title,
  .footer-container-menu-search-block2 .block3-title, .footer-container-menu-search-block3 .block1-title,
  .footer-container-menu-search-block3 .block2-title,
  .footer-container-menu-search-block3 .block3-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .footer-container-menu-search-block1 .block1-title,
  .footer-container-menu-search-block1 .block2-title,
  .footer-container-menu-search-block1 .block3-title, .footer-container-menu-search-block2 .block1-title,
  .footer-container-menu-search-block2 .block2-title,
  .footer-container-menu-search-block2 .block3-title, .footer-container-menu-search-block3 .block1-title,
  .footer-container-menu-search-block3 .block2-title,
  .footer-container-menu-search-block3 .block3-title {
    font-size: 1rem;
  }
}

.footer-container-menu-search-block1 .block1-list,
.footer-container-menu-search-block1 .block2-list,
.footer-container-menu-search-block1 .block3-list, .footer-container-menu-search-block2 .block1-list,
.footer-container-menu-search-block2 .block2-list,
.footer-container-menu-search-block2 .block3-list, .footer-container-menu-search-block3 .block1-list,
.footer-container-menu-search-block3 .block2-list,
.footer-container-menu-search-block3 .block3-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container-menu-search-block1 .block1-list a,
.footer-container-menu-search-block1 .block2-list a,
.footer-container-menu-search-block1 .block3-list a, .footer-container-menu-search-block2 .block1-list a,
.footer-container-menu-search-block2 .block2-list a,
.footer-container-menu-search-block2 .block3-list a, .footer-container-menu-search-block3 .block1-list a,
.footer-container-menu-search-block3 .block2-list a,
.footer-container-menu-search-block3 .block3-list a {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  color: #848484;
  text-decoration: none;
}

@media (max-width: 1193px) {
  .footer-container-menu-search-block1 .block1-list a,
  .footer-container-menu-search-block1 .block2-list a,
  .footer-container-menu-search-block1 .block3-list a, .footer-container-menu-search-block2 .block1-list a,
  .footer-container-menu-search-block2 .block2-list a,
  .footer-container-menu-search-block2 .block3-list a, .footer-container-menu-search-block3 .block1-list a,
  .footer-container-menu-search-block3 .block2-list a,
  .footer-container-menu-search-block3 .block3-list a {
    font-size: 1.3rem;
  }
}

@media (max-width: 420px) {
  .footer-container-menu-search-block1 .block1-list a,
  .footer-container-menu-search-block1 .block2-list a,
  .footer-container-menu-search-block1 .block3-list a, .footer-container-menu-search-block2 .block1-list a,
  .footer-container-menu-search-block2 .block2-list a,
  .footer-container-menu-search-block2 .block3-list a, .footer-container-menu-search-block3 .block1-list a,
  .footer-container-menu-search-block3 .block2-list a,
  .footer-container-menu-search-block3 .block3-list a {
    font-size: 0.8rem;
  }
}

.footer-container-menu-search-block1 .block1-list a:not(:last-child),
.footer-container-menu-search-block1 .block2-list a:not(:last-child),
.footer-container-menu-search-block1 .block3-list a:not(:last-child), .footer-container-menu-search-block2 .block1-list a:not(:last-child),
.footer-container-menu-search-block2 .block2-list a:not(:last-child),
.footer-container-menu-search-block2 .block3-list a:not(:last-child), .footer-container-menu-search-block3 .block1-list a:not(:last-child),
.footer-container-menu-search-block3 .block2-list a:not(:last-child),
.footer-container-menu-search-block3 .block3-list a:not(:last-child) {
  margin-bottom: 1rem;
}

.footer-container-menu-search-block1 .block1-list a:hover,
.footer-container-menu-search-block1 .block2-list a:hover,
.footer-container-menu-search-block1 .block3-list a:hover, .footer-container-menu-search-block2 .block1-list a:hover,
.footer-container-menu-search-block2 .block2-list a:hover,
.footer-container-menu-search-block2 .block3-list a:hover, .footer-container-menu-search-block3 .block1-list a:hover,
.footer-container-menu-search-block3 .block2-list a:hover,
.footer-container-menu-search-block3 .block3-list a:hover {
  color: black;
  font-weight: 600;
}

.footer-container-menu-search-block1, .footer-container-menu-search-block2 {
  margin-right: 3rem;
}

.footer-container-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

.footer-container-social a:not(:last-child) {
  margin-right: 2.5rem;
}
/*# sourceMappingURL=style.css.map */