@mixin inter-400 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin inter-500 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin inter-600 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin inter-700 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin playfair-700 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
}

@mixin mulish-300 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin mulish-400 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin mulish-700 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
